In [ ]:
# code 1

In [1]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a > b:
    if a > c:
        print("Maximum =", a)
    else:
        print("Maximum =", c)
else:
    if b > c:
        print("Maximum =", b)
    else:
        print("Maximum =", c)

Enter first number:  50
Enter second number:  30
Enter third number:  2

Maximum = 50

In [ ]:
# code 2

In [3]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a < b:
    if a < c:
        print("Minimum =", a)
    else:
        print("Minimum =", c)
else:
    if b < c:
        print("Minimum =", b)
    else:
        print("Minimum =", c)

Enter first number:  50
Enter second number:  5
Enter third number:  9

Minimum = 5

In [ ]:
# code 3

In [4]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
d = int(input("Enter fourth number: "))

if a > b:
    if a > c:
        if a > d:
            print("Maximum =", a)
        else:
            print("Maximum =", d)
    else:
        if c > d:
            print("Maximum =", c)
        else:
            print("Maximum =", d)
else:
    if b > c:
        if b > d:
            print("Maximum =", b)
        else:
            print("Maximum =", d)
    else:
        if c > d:
            print("Maximum =", c)
        else:
            print("Maximum =", d)

Enter first number:  58
Enter second number:  9
Enter third number:  4
Enter fourth number:  5

Maximum = 58

In [ ]:
# code 4

In [8]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
op = input("Enter operator (+, -, *, /): ")

match op:
    case '+':
        print("Result =", num1 + num2)
    case '-':
        print("Result =", num1 - num2)
    case '*':
        print("Result =", num1 * num2)
    case '/':
        if num2 != 0:
            print("Result =", num1 / num2)
        else:
            print("Division by zero not allowed")
    case _:
        print("Invalid operator")

Enter first number:  10
Enter second number:  20
Enter operator (+, -, *, /):  *

Result = 200

In [ ]:
# code 5

In [13]:
print("Welcome to Fast Food Ordering System")
print("1. Sandwich")
print("2. Pizza")
print("3. Burger")

choice = int(input("Enter your choice: "))

match choice:
    case 1:
        print("You ordered a Sandwich")
    case 2:
        print("Select Pizza Type:")
        print("1. Thin Crust")
        print("2. Cheese Burst")
        print("3. Fresh Dough")
        sub = int(input("Enter your choice: "))
        match sub:
            case 1:
                print("You ordered Thin Crust Pizza")
            case 2:
                print("You ordered Cheese Burst Pizza")
            case 3:
                print("You ordered Fresh Dough Pizza")
            case _:
                print("Invalid Pizza choice")
    case 3:
        print("You ordered a Burger")
    case _:
        print("Invalid choice")

Welcome to Fast Food Ordering System
1. Sandwich
2. Pizza
3. Burger

Enter your choice:  2

Select Pizza Type:
1. Thin Crust
2. Cheese Burst
3. Fresh Dough

Enter your choice:  3

You ordered Fresh Dough Pizza

In [ ]:
# code 6

In [15]:
print("Welcome to Telecom Calling System")
print("1. English")
print("2. Hindi")
print("3. Gujarati")

choice = int(input("Enter your choice: "))

match choice:
    case 1:   # English
        print("You selected English.")
        print("1. Balance Inquiry")
        print("2. Recharge")
        print("3. Customer Care")
        sub = int(input("Enter your choice: "))
        match sub:
            case 1:
                print("Your balance is â‚¹100.")
            case 2:
                print("Recharge successful!")
            case 3:
                print("Connecting to Customer Care...")
            case _:
                print("Invalid option in English menu")

    case 2:
        print("aapne hindi select kiya hai")
        print("1.balance ki jach")
        print("2. recharge")
        print("3.grahak seva ")
        sub = int(input("aapka vikalp"))
        match sub:
            case 1:
                print("aapka balance 100/- hai")
            case 2:
                print("recharge ho gaya")
            case 3:
                print("customer service se jod rahe hai")
            case _:
                print("galat pasandagi")

    case 3:
        print(" tame pasandgi kari chhe")
        print("1.tamaru balance 100/- chhe ")
        print("2.recharge safal thayu")
        print("3.grahak seva sathe conect kari rahya chhe")
        sub = int(input(""))
        match sub:
            case 1:
                print("")
            case 2: 
                print("")

Welcome to Telecom Calling System
1. English
2. Hindi
3. Gujarati

Enter your choice:  3

 tame pasandgi kari chhe
1.tamaru balance 100/- chhe
2.recharge safal thayu
3.grahak seva sathe conect kari rahya chhe

 1