In [ ]:
# code 1

In [1]:
numbers = [10, 25, 7, 50, 32]

print("Length:", len(numbers))
print("Maximum:", max(numbers))
print("Minimum:", min(numbers))
print("Sorted:", sorted(numbers))
print("Sum:", sum(numbers))
print("Type of list:", type(numbers))

Length: 5
Maximum: 50
Minimum: 7
Sorted: [7, 10, 25, 32, 50]
Sum: 124
Type of list: <class 'list'>

In [ ]:
# code 2

In [2]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)

print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [ ]:
# code 3

In [3]:
def square_list(lst):
    return [x**2 for x in lst]

print(square_list([1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
# code 4

In [4]:
def char_frequency(s):
    return {ch: s.count(ch) for ch in set(s)}

print(char_frequency("hello world"))

{'l': 3, 'd': 1, 'r': 1, ' ': 1, 'o': 2, 'e': 1, 'w': 1, 'h': 1}

In [ ]:
# code 5

In [5]:
def cube(x):
    return x**3

def apply_func(func, lst):
    return [func(x) for x in lst]

print(apply_func(cube, [1, 2, 3, 4]))

[1, 8, 27, 64]

In [ ]:
# code 6

In [ ]:
def sum_product(*args):
    total_sum = sum(args)
    product = 1
    for num in args:
        product *= num
    return total_sum, product

print(sum_product(1, 2, 3, 4))

In [ ]:
# code 7

In [7]:
def print_students(*args):
    if not args:
        print("No students in the list.")
    else:
        for name in args:
            print(name)

print_students("Sneh", "Raj", "Aarav")
print_students()

Sneh
Raj
Aarav
No students in the list.

In [ ]:
# code 8

In [8]:
def filter_args(*args):
    strings = tuple(x for x in args if isinstance(x, str))
    numbers = tuple(x for x in args if isinstance(x, (int, float)))
    return strings, numbers

print(filter_args(1, "hello", 2.5, "world", 42))

(('hello', 'world'), (1, 2.5, 42))

In [ ]:
# code 9

In [10]:
def person_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key.capitalize()}: {value}")

person_info(name="Sneh", age=17, city="Ahmedabad")

Name: Sneh
Age: 17
City: Ahmedabad

In [ ]:
# code 10

In [11]:
def product_details(**kwargs):
    total_cost = kwargs.get("price", 0) * kwargs.get("quantity", 0)
    return f"Product: {kwargs.get('name', 'Unknown')}, Total Cost: {total_cost}"

print(product_details(name="Book", price=200, quantity=3))

Product: Book, Total Cost: 600

In [ ]:
# code 11

In [13]:
def employee_info(**kwargs):
    required = ["name", "department", "salary"]
    missing = [field for field in required if field not in kwargs]

    if missing:
        print(f"Missing fields: {', '.join(missing)}")
    else:
        for key, value in kwargs.items():
            print(f"{key.capitalize()}: {value}")

employee_info(name="Sneh", department="IT", salary=50000)
employee_info(name="Raj", salary=45000)

Name: Sneh
Department: IT
Salary: 50000
Missing fields: department

In [ ]:
# code 12

In [14]:
def area_of_rectangle(length, width):
    """
    Function to calculate the area of a rectangle.
    Parameters: length (int/float), width (int/float)
    Return: area (int/float)
    """
    return length * width

print(area_of_rectangle.__doc__)
print("Area:", area_of_rectangle(10, 5))

Function to calculate the area of a rectangle.
Parameters: length (int/float), width (int/float)
Return: area (int/float)

Area: 50

In [ ]:
# code 13

In [15]:
def fibonacci_upto(n):
    """
    Function: fibonacci_upto(n)
    ----------------------------------
    Purpose:
        Generate the Fibonacci sequence up to a given number n.

    Input:
        n (int) : The maximum limit up to which the Fibonacci sequence 
                  will be generated. Must be a non-negative integer.

    Process:
        - Start with the first two Fibonacci numbers [0, 1].
        - Iteratively add the last two numbers to generate the next term.
        - Stop when the next Fibonacci number exceeds n.

    Output:
        list : A list containing Fibonacci sequence values up to n.

    Example:
        fibonacci_upto(10) -> [0, 1, 1, 2, 3, 5, 8]
    """
    sequence = [0, 1]
    while sequence[-1] + sequence[-2] <= n:
        sequence.append(sequence[-1] + sequence[-2])
    return sequence if n >= 1 else [0]


print(fibonacci_upto.__doc__)
print("Fibonacci up to 20:", fibonacci_upto(20))

Function: fibonacci_upto(n)
----------------------------------
Purpose:
    Generate the Fibonacci sequence up to a given number n.

Input:
    n (int) : The maximum limit up to which the Fibonacci sequence
              will be generated. Must be a non-negative integer.

Process:
    - Start with the first two Fibonacci numbers [0, 1].
    - Iteratively add the last two numbers to generate the next term.
    - Stop when the next Fibonacci number exceeds n.

Output:
    list : A list containing Fibonacci sequence values up to n.

Example:
    fibonacci_upto(10) -> [0, 1, 1, 2, 3, 5, 8]

Fibonacci up to 20: [0, 1, 1, 2, 3, 5, 8, 13]